html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.mt {
  margin-top: 20px;
}

.pt {
  padding-top: 20px;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: -20px 0 0 -20px;
  list-style: none;
}

.grid__item {
  flex: 1;
  padding: 20px 0 0 20px;
}

.col-1-1 {
  width: 100%;
  flex: none;
}

.col-1-2 {
  width: 50%;
  flex: none;
}

.col-1-3 {
  width: 33.333333%;
  flex: none;
}

.col-1-4 {
  width: 25%;
  flex: none;
}

.col-1-5 {
  width: 20%;
  flex: none;
}

.col-1-6 {
  width: 16.666667%;
  flex: none;
}

.col-1-8 {
  width: 12.5%;
  flex: none;
}

.col-1-10 {
  width: 10%;
  flex: none;
}

.col-1-12 {
  width: 8.333333%;
  flex: none;
}

.flex {
  display: flex;
}

.ai--c {
  align-items: center;
}

.jc--c {
  justify-content: center;
}

.btn--default {
  background-color: #3498db;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  border: none;
  border-radius: 3px;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
  line-height: normal;
  padding: 10px;
}

.btn--default:hover {
  background-color: #2980b9;
}

.thumbnail--image {
  width: 100%;
  cursor: pointer;
}

.position--relative {
  position: relative;
}

.position--fixed {
  position: fixed;
}

.position--absolute {
  position: absolute;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.8);
  z-index: 10;
}

.expanded--photo {
  left: 0;
  right: 0;
  top: 50px;
  margin: 0 auto;
  max-width: 640px;
}

.expanded--image {
  width: 100%;
}

.description {
  align-self: flex-end;
  padding: 10px;
  background-color: #fff;
  opacity: .8;
  margin-bottom: 20px;
  display: none;
}

.image--overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  padding: 0 5px;
}

.image--overlay:hover > .description {
  display: inline-block;
}

.image--overlay:hover > .arrow--right {
  opacity: .5;
}

.image--overlay:hover > .arrow--left {
  opacity: .5;
}

.arrow--right:hover {
  opacity: .8 !important;
}

.arrow--left:hover {
  opacity: .8 !important;
}

.arrow--right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 25px solid #fff;
  opacity: 0;
  align-self: center;
  cursor: pointer;
}

.arrow--left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 25px solid #fff;
  opacity: 0;
  align-self: center;
  cursor: pointer;
}

.p-- {
  padding: 5px;
}

.mb\+ {
  margin-bottom: 40px;
}

/* Loader */
@-webkit-keyframes ball-float {
  0%, 100% {
     -webkit-transform: translateY(0);
     transform: translateY(0);
  }
  50% {
     -webkit-transform: translateY(-10px);
     transform: translateY(-10px);
  }
}

@keyframes ball-float {
  0%, 100% {
     -webkit-transform: translateY(0);
     transform: translateY(0);
  }
  50% {
     -webkit-transform: translateY(-10px);
     transform: translateY(-10px);
  }
}

.floating-balls--container {
  height: 20px;
  width: 140px;
  display: flex;
}

.floating-ball {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 4px;
}

.floating-ball--1,
.floating-ball--5 {
  background-color: #bdc3c7;
  -webkit-animation: ball-float 1s infinite ease-in-out;
  animation: ball-float 1s infinite ease-in-out;
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.floating-ball--2,
.floating-ball--4 {
  background-color: #95a5a6;
  -webkit-animation: ball-float 1s infinite ease-in-out;
  animation: ball-float 1s infinite ease-in-out;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.floating-ball--3 {
  background-color: #7f8c8d;
  -webkit-animation: ball-float 1s infinite ease-in-out;
  animation: ball-float 1s infinite ease-in-out;
}

.is-hiding {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s;
}

.is-showing {
  max-height: 100px;
  transition: max-height: .4s;
}

.hide {
  display: none;
}

.color--error {
  color: #c0392b;
}
